/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #0066cc;
}
